@import 'colors'; 

.pokemon-card-details-info-container {
  display: flex;
  flex-flow: row nowrap;
  border-top: 0.1px solid rgba(0, 0, 0, 0.05);
  height: 100%;
  margin-top: 20%;
}
.pokemon-card-details {
  display: flex;
  flex-flow: row nowrap;
  padding: 20px;
  text-transform: capitalize;
  justify-content: space-around;
  height: 100%;
  span {
    font-size: 10px;
  }
}
.icons {
  color: $houm-orange;
}

