 @import './colors';

.slider {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
}

.image {
  height: 180px;
  width: 180px;
}
.container-dots {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  position: absolute;
  top: 100%;
  justify-content: center;
}
.dot {
  z-index: 2;
  border-radius: 50%;
  background:$houm-orange;
  cursor: pointer;

  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 3px solid $white;
}

.dot.active {
  background: rgb(32, 32, 32);
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  color: $houm-gray;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: calc(10px + 1px);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  color: $houm-gray;
}

.slide {
  opacity: 0;
  transition-duration: 0.5s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1.08);
}
